.settings{
    display: flex;
    margin-top: 100px;
}
.col-sm{
    background: rgb(216, 211, 211);
    color: #444;
    height: 30px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

@media screen and (max-width: 750px) {
    .settings{
        display: flex;
        flex-direction: column;
    }
}