.leftpage{
    flex: 3;
    background-color: #f5f5f5;
    padding-right: 20px;
    margin: 20px 20px 50px 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    display: inline-block;
    width: 300px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 0px;

}
.leftpage-bloc-plus-visite{
    justify-content: center;
    align-items: center;
    width: 100%;;
}
.leftpage-titre{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.leftpage-bloc-listItem{
    list-style: none;
    margin-bottom: 20px;
    color: #444;
}
.leftpage-bloc-list{
    justify-self: center;
    align-items: center;
}
.leftpage-bloc-Item-titre{
    justify-content: center;
}
.leftpage-bloc-tag-list{
    height: 300px;
    width: 100%;
    overflow: auto;
    text-align: left;
}